.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.add-amostra-button {
  margin-top: 5px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #2655FB;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-amostra-button:hover {
  background-color: #0056b3;
}

.add-amostra-button:disabled {
  display: none;
}

.clickable-row {
  cursor: pointer;
}


