<div class="button-container">
  <button appRoleBased="ADMIN" class="add-amostra-button ff-roboto" [routerLink]="['/addamostra']">Adicionar Amostra</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th class="ff-inter">ID</th>
        <th class="ff-inter">Nome da amostra</th>
        <th class="ff-inter">Número do registro</th>
        <th class="ff-inter"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let amostra of listaAmostras">
        <tr class="clickable-row" (click)="redirectToPage(amostra.id!)">
          <td class="ff-roboto">{{ amostra.id }}</td>
          <td class="ff-roboto">{{ amostra.nome }}</td>
          <td class="ff-roboto">{{ amostra.numeroDeRegistro }}</td>
          <td class="action-buttons">
            <button appRoleBased="ADMIN" [routerLink]="'/editamostra/' + amostra.id" (click)="stopPropagation($event)">Editar</button>
            <button appRoleBased="ADMIN" (click)="deleteAmostra(amostra); stopPropagation($event)">Excluir</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>