<div class="register-container">
  <div class="left-section">
    <div class="logo-section">
      <img src="../../../assets/images/CycleLabLogo-NoBg.png" alt="Imagem de fundo">
      <h1 class="ff-roboto">Cadastre-se</h1>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="email" class="ff-roboto">Email:</label>
        <input type="email" id="email" formControlName="email" placeholder="Digite seu Email">
        <div class="mensagem__erro" *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">
          Email é obrigatório!
        </div>
        <div class="mensagem__erro" *ngIf="formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched">
          Por favor, insira um email válido!
        </div>
      </div>
      <div class="form-group">
        <label for="senha" class="ff-roboto">Senha:</label>
        <input type="senha" id="senha" formControlName="senha" placeholder="Digite sua Senha">
        <div class="mensagem__erro" *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
          Senha é obrigatória!
        </div>
        <div class="mensagem__erro" *ngIf="formulario.get('senha')?.errors?.['pattern'] && formulario.get('senha')?.touched">
          Senha deve conter: 6 caracteres, caracter especial, letra maiúscula, número
        </div>
      </div>
      <div class="form-group">
        <label for="senhaConfirmacao" class="ff-roboto">Confirmação da Senha:</label>
        <input type="senha" id="senhaConfirmacao" formControlName="senhaConfirmacao" placeholder="Digite sua Senha Novamente">
        <div class="mensagem__erro" *ngIf="formulario.get('senhaConfirmacao')?.errors?.['required'] && formulario.get('senhaConfirmacao')?.touched">
          Confirmação da senha é obrigatória!
        </div>
        <div class="mensagem__erro" *ngIf="formulario.get('senhaConfirmacao')?.errors?.['senhaMismatch'] && formulario.get('senhaConfirmacao')?.touched">
          As senhas não correspondem!
        </div>
      </div>
      <div class="form-group admin">
        <label for="isAdmin" class="ff-roboto">Administrador:</label>
        <input type="checkbox" id="isAdmin" formControlName="isAdmin">
      </div>
      
      <div class="buttons">
        <button type="submit" class="botao ff-roboto">Criar conta</button>
        <button type="button" class="botao__secundario ff-roboto" routerLink="/login">Voltar</button>
      </div>
    </form>
  </div>
  <div class="right-section">
    <img src="../../../assets/images/sample_login.png" alt="Imagem de fundo">
  </div>
</div>
