footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 12px;
  }

  .footer-content p:nth-child(2) {
    margin-right: 6em;
  }
  