<header>
  <div class="left-section">
    <img src="../../../assets/images/CycleLabLogo-NoBg.png" alt="Imagem de fundo">
    <h1 class="ff-roboto">CycleLab: Saúde para todos</h1>
  </div>
  <nav class="middle-section">
    <ul>
      <!-- Aparece não Logado -->
      <li *ngIf="!isLoggedIn"><a class="ff-inter">Sobre nós</a></li>
      <li *ngIf="!isLoggedIn"><a class="ff-inter">Missão</a></li>
      <!-- Aparece Logado -->
      <li *ngIf="isLoggedIn"><a class="ff-inter" routerLink="/homepage">Home</a></li>
      <li *ngIf="isLoggedIn"><a class="ff-inter" routerLink="/amostras">Amostras</a></li>
      <li *ngIf="isLoggedIn"><a class="ff-inter" routerLink="/users">Usuários</a></li>
    </ul>
  </nav>
  <div class="right-section">
    <!-- Aparece não Logado -->
    <a class="ff-inter" *ngIf="!isLoggedIn" routerLink="/register">Cadastre-se</a>
    <!-- Aparece Logado -->
    <a class="ff-inter" *ngIf="isLoggedIn">Perfil</a>
    <a class="ff-inter logout-link" *ngIf="isLoggedIn" (click)="logout()">Sair</a>
  </div>
</header>
