<div class="card-container">
    <div class="card">
      <a routerLink="/amostras">
        <img src="../../../assets/images/sample_homepage.jpg" alt="Imagem de Amostras">
        <h3 class="card-title ff-roboto">Visualizar <br>Amostras</h3>
        <p class="card-description ff-roboto">Acesso a página de amostras, onde é possível visualizar, cadastrar, editar ou deletar uma amostra.</p>
      </a>
    </div>
  
    <div class="card">
      <a routerLink="/usuarios">
        <img src="../../../assets/images/user_homepage.png" alt="Imagem de Usuários">
        <h3 class="card-title ff-roboto">Visualizar <br>Usuários</h3>
        <p class="card-description ff-roboto">Acesso a página de usuários, onde é possível visualizar, cadastrar, editar ou deletar um usuário.</p>
      </a>
    </div>
  </div>
