/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ff-inter { font-family: 'Inter', sans-serif; }
.ff-roboto { font-family: 'Roboto', sans-serif; }


.container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.botao {
  background: #2655FB;
  color: #FFFFFF;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #2655FB;
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.botao:hover {
  background: #1f43c4;
  color: #ffffff;
}

.botao__secundario {
  background: #4B5962;
  color: #FFFFFF;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #4B5962;
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}

.botao__secundario:hover {
  background: #404c53;
  color: #ffffff;
}

.mensagem__erro {
  color: red;
  font-size: 14px;
  margin-top: 1px;
}


/* Default Table css */

.table-container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e6e6e6;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.action-buttons button {
  padding: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s;
}

.action-buttons button:hover {
  color: #007bff;
}

.action-buttons button i {
  font-size: 18px;
}


